.showListingTable {
  border-collapse: collapse;
  font-size: 16px;
  width: 100%;
  table-layout: fixed;
}

.showListingTable tbody tr {
  background: linear-gradient(to bottom, #162c4f, #000000);
  border: none;
  color: white;
  height: 80px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: left;
}

.showListingTable tbody tr:hover {
  background: lightblue;
  color: darkblue;
}

.showListingTable tbody td {
  padding: 20px;
}

.showListingTable tbody td:first-child {
  width: 2rem;
}

.showListingTable tbody td:nth-child(3) {
  width: 10%;
}

.showListingTable tbody td:nth-child(4) {
  width: 10%;
}
