.table {
  border-collapse: collapse;
  font-size: 16px;
  width: 100%;
  table-layout: fixed;
}

.table thead th {
  color: #fff;
  background-color: #000;
  font-weight: 700;
  height: 60px;
  text-align: left;
  padding: 20px;
  margin-left: 10px;
}

.table tbody tr:nth-child(odd) {
  background: linear-gradient(to bottom, #162c4f, #000000);
}

.table tbody tr:nth-child(even) {
  background: linear-gradient(to bottom, #162c4f, #000000);
}

.table tbody td {
  border: none;
  color: #fff;
  height: 80px;
  overflow: hidden;
  padding: 20px;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: left;
}

.table tbody td:first-child {
  width: 80px;
}

.table tbody td:nth-child(2) {
  width: 30%;
}

.table tbody td:nth-child(3) {
  width: 50%;
}

.table tbody td:nth-child(4) {
  width: 20%;
}

.table tbody tr:hover {
  background-color: #fff;
  color: #162c4f;
}
