

:root {
  --blue-gradient: linear-gradient(to bottom, #162c4f, #000000);
}

body {
  background: var(--blue-gradient);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-size: 16px;
  font-family: "OpenSans";
  font-weight: bold;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
}
